<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Express Guestbook</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/bulma.css">
  <link rel="stylesheet" href="css/guestbook.css">
</head>
<body>
    <div class="container is-fluid is-centered">