<%- include('header') -%>

  <div class="notification is-primary">
    <h1 class="title">
      Four Oh Four
    </h1>
    <div class="content">
      This page does not exist and it can't be pulled out of the ether.
    </div>
  </div>

<%- include('footer') -%>