<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Shallow Content</title>
    <meta name="description" content="Write dumb things for worthlesss Internet points">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="stylesheet" href="/css/custom_bulma.css">
    <link rel="stylesheet" href="/css/custom.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar" role="navigation" aria-label="navigation controls">
        <div class="navbar-brand">
          <div class="navbar-item">
            <a href="/" class="navbar-item is-size-4">Shallow Content</a>
          </div>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-end">
          <% if (user) { %>
            <div class="navbar-item">
              <p>Logged in as: <a href="/user"><%= user.name %></a></p>
            </div>
            <div class="navbar-item">
              <a href="/logout" class="button">Log out</a>
            </div>
          <% } else { %>
            <div class="navbar-item">
              <div class="buttons">
                <a href="/register" class="button is-primary">
                  <strong>Register</strong>
                </a>
                <a href="/login" class="button is-light">
                  Log in
                </a>
              </div>
            </div>
          <% } %>
        </div>
      </nav>