<%- include('_header') -%>

<h1 class="title">Login</h1>

<% if (message && message.length > 0) { %>
  <div class="notification is-warning">
    <% message.forEach(message => { %>
      <p></p><%= message %></p>
    <% }); %>
  </div>
<% } %>

<form method="POST" action="/login">
  <div class="field">
  <label class="label">Username</label>
  <div class="control">
    <input class="input is-primary" type="text" name="username" placeholder="e.g. Alyceen" required>
  </div>
</div>

<div class="field">
  <label class="label">Password</label>
  <div class="control">
    <input class="input is-primary" type="password" name="password" required>
  </div>
</div>

<div class="control">
  <button class="button is-primary">Login</button>
</div>
</form>

<%- include('_footer') -%>