<%- include('_header') -%> 

<h1 class="title">Create an account</h1>

<% if (message && message.length > 0) { %>
  <div class="notification is-warning">
    <% message.forEach(message => { %>
      <p></p><%= message %></p>
    <% }); %>
  </div>
<% } %>

<form method="POST" action="/register">
  <div class="field">
    <label class="label">Username</label>
    <div class="control">
      <input class="input is-primary" name="name" type="text" placeholder="e.g Alyceen">
    </div>
  </div>

  <div class="field">
    <label class="label">Email address</label>
    <div class="control">
      <input class="input is-primary" name="mail" type="email" placeholder="e.g. alyceen@gmail.com">
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input is-primary" name="password" type="password" required>
    </div>
  </div>

  <div class="field">
    <label class="label">Bio</label>
    <div class="control">
      <textarea class="textarea is-primary" name="description" placeholder="A short description of your shallow personality"></textarea>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link" type="submit">Submit</button>
    </div>
    <div class="control">
      <button class="button is-link is-light" type="reset">Cancel</button>
    </div>
  </div>
</form>

<%- include('_footer') -%> 